:root {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
h1,
h2 {
  font-family: "Raleway", sans-serif;
}
h3 {
  font-size: 20px;
  line-height: normal;
  text-transform: capitalize;
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2rem;
  border: solid white 4px;
}
.column1 {
  padding-right: 60px;
}
.column2 {
  padding: 20px;
}
img {
  width: 70%;
}

@media only screen and (max-width: 776px) {
  .wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr;
  }
  .column2 {
    padding: 0;
  }
  img {
    width: 100%;
  }
}
